.nav-container ul {
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    background-color:white;
    color: white;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
    width: 100%;
}


.nav-container li {
    display: inline;
   color: black;
   font-weight: bold;
   font-size: 30px;
}

.nav-container .cart{
    width: 30px;
    height: 30px;
}


.nav-container .hamburger{
    width: 30px;
    height: 30px;
}

.nav-container {
    display: flex;
    overflow-x: scroll;  
    white-space: nowrap;
    background-color: white;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.nav-container::-webkit-scrollbar {
    display: none;
}


.nav-container a {
    text-align: center;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: Arial, sans-serif;
    width: 100px;
}

.nav-container img {
    width: 60px; 
    height: 60px;
    object-fit: cover;
    background-color: #f1efee; 
    border-radius: 100%;
}

.nav-container p {
    margin-top: 5px;
    font-size: 14px;
}
